.button {
	width: 150px;
	padding: 15px 0 !important;
	font-family: 'Roboto Mono', monospace;
}

.button:hover {
	color: #fff !important;
	background: none !important;
	text-decoration: underline !important;
}
