.touch {
	font-size: 3.2rem;
	margin-top: 6rem;
}
#form {
	border-top: 1px solid pink;
	margin-top: 200px;
}
.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
}

input,
select {
	background: none;
	border: none;
	border-bottom: 1px solid pink;
	color: #fff;
	padding: 8px;
	font-family: 'FontAwesome';
}

option:before {
	content: '';
}

textarea {
	margin-top: 80px !important;
	position: relative;
	background: none;
	border: 0.4px solid pink;
	padding: 10px;
	color: #fff;
}
