.heroContainer {
	position: absolute;
	width: 800px;
	padding: 1rem;
	top: 30%;
	left: 12%;
	border-radius: 5px;
	z-index: 4;
}

.heroText {
	padding: 2rem;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.heroText h2 {
	font-size: 40px;
	text-transform: capitalize;
	text-align: right;
}

.mdtName {
	font-size: 80px;
	font-weight: 900;
	color: #fff;
}

.heroText p {
	margin: 0;
	background: purple;
	padding: 0.5rem;
	align-self: flex-end;
}

.heroText h1 {
	font-size: 90px;
	text-align: center;
	margin: 0;
	background: rgb(2, 119, 2);
}
