.mdtContainer {
	max-width: 1300px;
	margin: 0 auto;
	border-right: 10px solid blue;
	border-left: 10px solid blue;
}

.navbar-nav a {
	margin: 0 15px;
}
.navbar-nav a:hover {
	padding-bottom: 0;
	border-bottom: 0.6px solid yellow;
}
.container-navbar {
	background: rgba(175, 191, 192, 0.25);
	width: 100%;
}
