.carousel-item {
	margin: 100px auto;
}
.carousel-item img {
	max-width: 80%;
	height: 600px;
	margin: 0 auto;
}

.carousel-indicators li {
	border-radius: 50%;
	width: 10px !important;
	height: 10px !important;
}
@media screen and (max-width: 1024px) {
	.carousel-control-prev,
	.carousel-control-next {
		top: calc(50% - 380px);
	}
}

@media screen and (max-width: 768px) {
	.carousel-item img {
		max-width: 75%;
		height: 400px;
	}
	.carousel-control-prev,
	.carousel-control-next {
		top: calc(50% - 311px);
	}
}

@media screen and (max-width: 450px) {
	.carousel-item img {
		max-width: 75%;
		height: 300px;
	}
	.carousel-control-prev,
	.carousel-control-next {
		top: calc(50% - 235px);
	}
}
@media screen and (max-width: 350px) {
	.carousel-item img {
		max-width: 75%;
		height: 250px;
	}
	.carousel-item {
		margin: 230px auto;
	}

	.carousel-control-prev,
	.carousel-control-next {
		top: calc(50% - 130px);
	}
}

@media screen and (max-width: 325px) {
	.carousel-control-prev,
	.carousel-control-next {
		top: calc(50% - 138px);
	}
}
